div#examPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        color: #ffffff;
        font-family: 'Inter';
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;

        div.question {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: white;

            label {
                margin-top: 0.5rem;
            }
        }

        button {
            align-self: center;
            margin: 1rem 0rem;
            padding: 0.5rem 3rem;
            color: #ffffff;
            font-size: 1rem;
            font-size: 1.25rem;
            background: none;
            border-radius: 30px;
            border: 3px solid #d9d9d9;

            &:hover {
                //color: #f7d967;
                background: radial-gradient(149.95% 387.57% at 54.19% 45.2%,
                        #000000 52.6%,
                        rgba(255, 255, 255, 0.63) 100%);

                cursor: pointer;
            }
        }

        //@include registerButton();
    }



}