div#page_faq {
  .comment {
    color: white;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding-top: 30px;
    padding-left: 270px;
    padding-right: 270px;
    padding-bottom: 60px;
    justify-content: center;
  }

  .grid-item {
    background-color: #f0f0f0;
    padding: 30px;
    padding-top: 80px;
    border-radius: 25px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid-item h2,
  .grid-item p {
    margin: 0;
  }

  .grid-item.wide {
    width: 550px;
  }

  .grid-item.wide.s {
    width: 550px;
    margin-left: -210px;
  }

  .grid-item.narrow {
    width: 340px;
  }

  .grid-item .question {
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .grid-item .response {
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .grid-item:hover .question {
    opacity: 0;
    transform: translateY(-40px);
  }

  .grid-item:hover .response {
    opacity: 1;
    transform: translateY(-40px);
  }

  @media (max-width: 1100px) {
    .grid-container {
      grid-template-columns: 1fr; /* Change to a single column */
      padding-left: 30px; /* Adjust the padding as needed for spacing */
      padding-right: 30px;
    }

    .grid-item.wide,
    .grid-item.wide.s,
    .grid-item.narrow {
      width: auto; /* Let items take full width */
      margin-left: 0; /* Remove any left margin */
    }
  }
}
