div#page_faq {
  .comment {
    color: white;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding-top: 30px;
    padding-left: 270px;
    padding-right: 270px;
    padding-bottom: 60px;
    justify-content: center;
  }

  .grid-item {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 25px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    height: 170px;
  }

  .grid-item.wide {
    width: 550px;
  }

  .grid-item.wide.s {
    width: 550px;
    margin-left: -210px;
  }

  .grid-item.narrow {
    width: 340px;
  }
}
