

.infotext{
    font-size: 60px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 48px;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: "Noto Sans TC", monospace;
}
.info{

    height: 100px;
    width: 700px;
    display: flex;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, 0%);
    justify-content: center;
    vertical-align: middle;
    font-family: "Noto Sans TC", monospace;
}

.datetitle{
    font-family: "Noto Sans TC", monospace;
    font-size: 48px;
    color:rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    left: 75px;
    top: 30px;
    display: flex;
    transform: translate(0%, -50%);

}

.dateicon{
    font-family: "Noto Sans TC", monospace;
    height:130px;
    width: 130px;
    left: 750px;
    top:10px;
    display: flex;
    position: absolute;

}


.date{
    font-family: "Noto Sans TC", monospace;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(247, 180, 36);
    height: 150px;
    width: 900px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0%);
    justify-content: center;
    vertical-align: middle; 
    display: flex;
}

.place{
    font-family: "Noto Sans TC", monospace;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(247, 180, 36);
    height: 150px;
    width: 900px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0%);
    justify-content: center;
    display: flex;
    vertical-align: middle; 

}

.placetitle{
    font-family: "Noto Sans TC", monospace;
    font-size: 48px;
    color:rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    left: 75px;
    top: 32px;
    display: flex;
    transform: translate(0%, -50%);
}

.schoolicon{
    font-family: "Noto Sans TC", monospace;
    height:130px;
    width: 130px;
    left: 750px;
    top:10px;
    position: absolute;
    display: flex;

}

.timetitle{
    font-family: "Noto Sans TC", monospace;
    font-size: 48px;
    color:rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    left: 75px;
    top: 32px;
    transform: translate(0%, -50%);
    display: flex;
}

.time{
    font-family: "Noto Sans TC", monospace;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(247, 180, 36);
    height: 150px;
    width: 900px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, 0%);
    justify-content: center;
    vertical-align: middle; 
    display: flex;
}

.clockicon{
    font-family: "Noto Sans TC", monospace;
    height:130px;
    width: 130px;
    left: 750px;
    top:10px;
    position: absolute;
    display: flex;

}

.solo{
    font-family: "Noto Sans TC", monospace;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(247, 180, 36);
    height: 150px;
    width: 900px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, 0%);
    justify-content: center;
    vertical-align: middle; 
    display: flex;
}

.solotitle{
    font-family: "Noto Sans TC", monospace;
    font-size: 48px;
    color:rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    left: 75px;
    top: 32px;
    transform: translate(0%, -50%);
    display: flex;
}

.soloicon{
    font-family: "Noto Sans TC", monospace;
    height:100px;
    width: 100px;
    left: 770px;
    top:25px;
    position: absolute;
    display: flex;

}

.group{
    font-family: "Noto Sans TC", monospace;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(247, 180, 36);
    height: 150px;
    width: 900px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%, 0%);
    justify-content: center;
    vertical-align: middle; 
    display: flex;
}

.grouptitle{
    font-family: "Noto Sans TC", monospace;
    display: flex;
    font-size: 48px;
    color:rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    left: 75px;
    top: 32px;
    transform: translate(0%, -50%);
}

.groupicon{
    font-family: "Noto Sans TC", monospace;
    display: flex;
    height:130px;
    width: 130px;
    left: 750px;
    top:10px;
    position: absolute;

}

.attend_button{
    font-family: "Noto Sans TC", monospace;
    font-size: 48px;
    color:rgb(0, 0, 0);
    display: flex;
    transform: translate(0%, -50%);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(247, 180, 36);
    height: 75px;
    width: 300px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 125%;
    transform: translate(-50%, 0%);
    justify-content: center;
    vertical-align: middle; 
}
