$black: #000000;
$white: #ffffff;
$orange: #ff7a00;
$light_orange: #ffead8;
$red: #ff0000;
$blue-green: #19a6a2;
$brown: #794221;

nav {
  position: fixed;
  width: 100%;
  height: 54px;
  left: 0;
  background: $orange;
}
.banner_icon {
  // width: 50px;
  height: 40px;
  margin: 5px;
}
ul.nav_ul {
  list-style-type: none;
  margin: auto;
  padding: 4px;
  overflow: hidden;
}
li.banner_button {
  float: right;
  padding: 5px;

  position: relative;
  width: 80px;

  a {
    border-width: 4px;
    border-style: none;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    color: $black;
  }
  :hover {
    border-style: solid;
    border-color: $blue-green;
  }
  :active {
    border-style: solid;
    border-color: $blue-green;
    background-color: $blue-green;
  }
}

@media screen and (max-width: 600px) {
  .banner_button {
    a {
      font-size: 10px;
    }
  }
}
