div#page_personal {
  @mixin button_open($text_content) {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px white solid;
    color: white;
    transition: box-shadow 0.4s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 5px 2px white;
    }

    &::before {
      content: $text_content;
    }
  }

  @mixin button_close($text_content) {
    opacity: 0.5;
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px gray solid;
    color: gray;
    cursor: not-allowed;

    &::before {
      content: $text_content;
    }
  }

  @mixin button_finish($text_content) {
    background-color: rgba(100, 100, 100, 0.5);
    border: 2px gray solid;
    color: gray;
    cursor: default;

    &::before {
      content: $text_content;
    }
  }

  @mixin button_error($text_content) {
    background-color: rgba(100, 100, 100, 0.5);
    border: 2px red solid;
    color: red;
    font-size: 30px;
    font-weight: bold;
    cursor: help;

    &::before {
      content: $text_content;
    }

    &:hover::before {
      font-size: 25px;
      content: "請聯絡服務人員";
    }
  }

  @mixin state_no {
    border: 0.25vh solid red;
    color: red;

    &::before {
      content: "✕";
    }
  }

  @mixin state_yes {
    border: 0.25vh solid chartreuse;
    color: chartreuse;

    &::before {
      content: "✓";
    }
  }

  @mixin state_error {
    border: 0.25vh solid darkorange;
    color: darkorange;

    &::before {
      content: "？";
    }
  }

  display: flex;
  justify-content: center;
  position: relative;

  div#page_personal_derror {
    position: absolute;
    top: -40px;
    color: red;
    font-size: 40px;
    overflow: hidden;
  }

  div#p_personal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;

    div#pp_account_name {
      width: 70vw;
      height: 14vh;
      //background-color: red;

      div#pp_an_up,
      div#pp_an_down {
        width: 100%;
        height: 7vh;
        font-size: 30px;
        overflow-wrap: break-word;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    div#pp_account_field {
      width: 70vw;
      min-width: 300px;
      max-width: 1000px;
      height: 20vh;
      //background-color: orange;
      margin: 3vh 0;
      display: flex;
      justify-content: space-between;
      flex-direction: unset;
      align-items: normal;

      div#ppa_information,
      div#ppa_quiz,
      div#ppa_github {
        width: 20vw;
        max-width: 300px;
        height: 20vh;
        //padding: auto;
        //background-color: red;
        position: relative;
        display: flex;
        flex-direction: column;

        div#ppa_inside_text {
          width: calc(100% - 10vh);
          height: 10vh;
          color: white;
          display: flex;
          align-items: center;
          font-size: 25px;
          padding: 6%;
        }

        div#ppa_inside_state {
          position: absolute;
          right: 1vh;
          top: 1vh;
          width: 8vh;
          height: 8vh;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 6vh;
          border-radius: 10vh;
          user-select: none;
        }

        div#ppa_inside_button {
          width: 80%;
          height: 8vh;
          font-size: 23px;
          border-radius: 1.2vw;
          box-sizing: border-box;
          position: relative;
          background-color: rgba(255, 255, 255, 0.5);
          margin-top: 2vh;
          margin-left: 10%;
          border: 2px white solid;
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;

          a {
            width: 100%;
            height: 100%;
            position: absolute;
          }
        }
      }

      div#ppa_information {
        &.ppaib_close {
          div#ppa_inside_button {
            @include button_close("尚未開啟");
          }

          div#ppa_inside_state {
            @include state_no();
          }
        }

        &.ppaib_open {
          div#ppa_inside_button {
            @include button_open("點此填寫");
          }

          div#ppa_inside_state {
            @include state_no();
          }
        }

        &.ppaib_finish {
          div#ppa_inside_button {
            @include button_open("修改資料");
          }

          div#ppa_inside_state {
            @include state_yes();
          }
        }

        &.ppaib_registered {
          div#ppa_inside_button {
            @include button_finish("已完成報名作業");
          }

          div#ppa_inside_state {
            @include state_yes();
          }
        }

        &.ppaib_error {
          div#ppa_inside_button {
            @include button_error("錯誤發生");
          }

          div#ppa_inside_state {
            @include state_error();
          }
        }
      }

      div#ppa_quiz {
        &.ppaib_close {
          div#ppa_inside_button {
            @include button_close("尚未開啟");
          }

          div#ppa_inside_state {
            @include state_no();
          }
        }

        &.ppaib_open {
          div#ppa_inside_button {
            @include button_open("點此測驗");
          }

          div#ppa_inside_state {
            @include state_no();
          }
        }

        &.ppaib_finish {
          div#ppa_inside_button {
            @include button_finish("已完成測驗");
          }

          div#ppa_inside_state {
            @include state_yes();
          }
        }

        &.ppaib_registered {
          div#ppa_inside_button {
            @include button_finish("已完成報名作業");
          }

          div#ppa_inside_state {
            @include state_yes();
          }
        }

        &.ppaib_error {
          div#ppa_inside_button {
            @include button_error("錯誤發生");
          }

          div#ppa_inside_state {
            @include state_error();
          }
        }
      }

      div#ppa_github {
        &.ppaib_close {
          div#ppa_inside_button {
            @include button_close("尚未開啟");
          }

          div#ppa_inside_state {
            @include state_no();
          }
        }

        &.ppaib_open {
          div#ppa_inside_button {
            @include button_open("點此綁定");
          }

          div#ppa_inside_state {
            @include state_no();
          }
        }

        &.ppaib_finish {
          div#ppa_inside_button {
            @include button_open("點此重新綁定");
          }

          div#ppa_inside_state {
            @include state_yes();
          }
        }

        &.ppaib_registered {
          div#ppa_inside_button {
            @include button_finish("已完成報名作業");
          }

          div#ppa_inside_state {
            @include state_yes();
          }
        }

        &.ppaib_error {
          div#ppa_inside_button {
            @include button_error("錯誤發生");
          }

          div#ppa_inside_state {
            @include state_error();
          }
        }
      }

      @media (max-width: 1000px) {
        height: 63vh;
        flex-direction: column;
        align-items: center;
        justify-content: normal;

        div#ppa_information,
        div#ppa_quiz,
        div#ppa_github {
          margin: 0.5vh 0;
          width: 100%;
        }
      }
    }

    div#pp_register {
      width: 60vw;
      height: 30vh;
      //background-color: yellow;
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      div#ppr_button {
        width: 30vw;
        min-width: 300px;
        max-width: 400px;
        height: 10vh;
        border-radius: 3vh;
        margin: 1vh;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;

        a {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }

      div#ppr_center {
        width: 100%;
        min-width: 320px;
        max-width: 450px;
        height: 16vh;
        margin: 1vh;
        //background-color: navy;
        display: flex;
        align-items: center;

        div#ppr_state {
          width: 8vh;
          height: 8vh;
          margin: 1vh;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 6vh;
          border-radius: 10vh;
          user-select: none;
        }

        div#ppr_text {
          width: calc(100% - 10vh);
          height: 100%;
          //background-color: aqua;
          font-size: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bolder;
        }
      }

      &.pprb_close {
        div#ppr_button {
          @include button_close("尚未開啟報名");
        }

        div#ppr_center div#ppr_state {
          @include state_no();
        }

        div#ppr_center div#ppr_text {
          color: red;

          &::before {
            content: "未完成報名";
          }
        }
      }

      &.pprb_open {
        div#ppr_button {
          @include button_open("點我報名");

          &::before {
            font-size: 40px;
          }
        }

        div#ppr_center div#ppr_state {
          @include state_no();
        }

        div#ppr_center div#ppr_text {
          color: red;

          &::before {
            content: "未完成報名";
          }
        }
      }

      &.pprb_finish {
        div#ppr_button {
          @include button_open("取消報名");
        }

        div#ppr_center div#ppr_state {
          @include state_yes();
        }

        div#ppr_center div#ppr_text {
          color: chartreuse;

          &::before {
            content: "已完成報名";
          }
        }
      }

      &.pprb_registered {
        div#ppr_button {
          @include button_finish("已完成報名");
        }

        div#ppr_center div#ppr_state {
          @include state_yes();
        }

        div#ppr_center div#ppr_text {
          color: chartreuse;

          &::before {
            content: "已完成報名";
          }
        }
      }

      &.pprb_error {
        div#ppr_button {
          @include button_error("發生錯誤");
        }

        div#ppr_center div#ppr_state {
          @include state_error();
        }

        div#ppr_center div#ppr_text {
          color: darkorange;

          &::before {
            content: "疑發生錯誤";
          }
        }

      }
    }

    div#pp_isadmission {
      width: 60vw;
      //height: 200px;
      //background-color: green;
      margin: 3vh 0;

      div#ppia_top {
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
      }

      div#ppia_result_field {
        display: flex;
        flex-direction: column;
        align-items: center;

        div#ppia_result {
          width: 60%;
          min-width: 300px;
          height: 15vh;
          //background-color: beige;
          font-size: 90px;
          line-height: normal;
          font-weight: bold;
          display: flex;
          justify-content: center;
        }

        div#ppia_back_is {
          width: 60%;
          min-width: 300px;
          height: 6vh;
          //background-color: royalblue;
          font-size: 4vh;
          font-weight: bold;
          display: flex;
          justify-content: center;
        }
      }

      &.ppiar_accept {
        div#ppia_result_field div#ppia_result::before {
          color: chartreuse;
          content: "正取";
        }

        div#ppia_result_field div#ppia_back_is {
          height: 0;
        }
      }

      &.ppiar_waiting {
        ~div#pp_admitted {
          display: none;
        }

        div#ppia_result_field div#ppia_result::before {
          color: yellow;
          content: "備取";
        }

        div#ppia_result_field div#ppia_back_is::before {
          color: yellow;
          content: "遞補狀態：等待中";
        }
      }

      &.ppiar_wait_finish {
        div#ppia_result_field div#ppia_result::before {
          color: yellow;
          content: "備取";
        }

        div#ppia_result_field div#ppia_back_is::before {
          color: chartreuse;
          content: "遞補狀態：成功";
        }
      }

      &.ppiar_not_pass {
        ~div#pp_admitted {
          display: none;
        }

        div#ppia_result_field div#ppia_result::before {
          color: red;
          content: "未錄取";
        }

        div#ppia_result_field div#ppia_back_is {
          height: 0;
        }
      }
    }

    div#pp_admitted {
      width: 60vw;
      height: 20vh;
      //background-color: cyan;
      margin-bottom: 5vh;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div#ppad_pay,
      div#ppad_agreement {
        width: 40%;
        min-width: 300px;
        height: 100%;
        //background-color: blueviolet;
        position: relative;
        display: flex;
        flex-direction: column;

        div#ppad_text {
          width: 60%;
          height: 50%;
          //background-color: deeppink;
          padding-left: 5%;
          color: white;
          font-size: 30px;
          display: flex;
          align-items: center;
        }

        div#ppad_state {
          width: 40%;
          height: 50%;
          //background-color: red;
          font-size: 30px;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        div#ppad_button {
          width: 80%;
          height: 50%;
          //background-color: brown;
          border-radius: 2vh;
          font-size: 25px;
          margin-left: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }

      div#ppad_cancel {
        @include button_finish("(逼不得已再按下)取消報名");
        width: 15vw;
        min-width: 200px;
        height: 5vh;
        //background-color: red;

        border-radius: 1vh;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      div#ppad_pay {
        div#ppad_text {
          &::before {
            content: "繳費狀態";
          }
        }

        &.ppadp_no {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: red;
              content: "未繳費";
            }
          }

          div#ppad_button {
            @include button_open("點此繳費");
          }
        }

        &.ppadp_check {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: yellow;
              content: "確認中";
            }
          }

          div#ppad_button {
            @include button_finish("確認中");
          }
        }

        &.ppadp_yes {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: chartreuse;
              content: "成功";
            }
          }

          div#ppad_button {
            @include button_close("繳費成功");
          }
        }

        &.ppadp_error {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: red;
              content: "請立即聯絡我們";
            }
          }

          div#ppad_button {
            @include button_error("發生異常");
          }
        }
      }

      div#ppad_agreement {
        div#ppad_text {
          &::before {
            content: "家長同意書";
          }
        }

        &.ppada_no {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: red;
              content: "未上傳";
            }
          }

          div#ppad_button {
            @include button_open("點此上傳");
          }
        }

        &.ppada_check {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: yellow;
              content: "確認中";
            }
          }

          div#ppad_button {
            @include button_finish("確認中");
          }
        }

        &.ppada_yes {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: chartreuse;
              content: "已通過";
            }
          }

          div#ppad_button {
            @include button_close("上傳成功");
          }
        }

        &.ppada_fail {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: red;
              content: "未通過";
            }
          }

          div#ppad_button {
            @include button_open("重新上傳");
          }
        }

        &.ppada_error {
          div#ppad_state {
            &::before {
              font-weight: bold;
              color: red;
              content: "請立即聯絡我們";
            }
          }

          div#ppad_button {
            @include button_error("發生錯誤");
          }
        }
      }

      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        height: 44vh;
        margin-bottom: 10vh;

        div#ppad_pay,
        div#ppad_agreement {
          width: 60%;
          margin: 1vh 0;
        }
      }

      &.pp_admitted_close {
        display: none;
      }
    }
  }
}