* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.traffic-info {
  width: 100%;
}

.traffic-info h1 {
  display: flex;
  position: static;
  width: 100%;
  padding-top: 150px;
  padding-left: 50px;
}

.map-content {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  padding-top: 100px;
}

.map-content iframe {
  width: 1200px;
  height: 650px;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #ff7a00;
  position: fixed;
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
  border-radius: 20px;
}

.navbar a {
  font-size: 16px;
  width: 100px;
  color: #000;
  background-color: #19a6a2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  margin: 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a:hover {
  background-color: #214d4b;
  color: #fff;
}

.ntnu-address {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.traffic-method {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.traffic-btn {
  padding: 30px 150px;
  background-color: #ff7a00;
  border-radius: 30px;
  font-size: 20px;
}

.traffic-btn:hover {
  background-color: #ffead8;
  cursor: pointer;
}

.traffic-public {
  /* display: grid; */
  margin-top: 5%;
  margin-left: 10%;
  /* grid-template-rows: auto; */
  /* grid-auto-flow: row; */
  /* align-items: center; */
}

.metro-image {
  border-radius: 20px;
  margin-top: 40px;
}

.bus-image {
  border-radius: 20px;
  margin-top: 10%;
}

.metro-method {
  margin-top: 3%;
  margin-left: 5%;
  height: 200px;
  width: 1200px;
  border-radius: 30px;
  background-color: #f5e1b4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bus-method {
  margin-top: 1%;
  margin-left: 5%;
  height: 200px;
  width: 1200px;
  border-radius: 30px;
  background-color: #f5e1b4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drive-method {
  height: 200px;
  width: 1200px;
  border-radius: 30px;
  background-color: #f5e1b4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.line-break {
  white-space: nowrap; /* Prevents wrapping of the entire link text */
}

.line-break br {
  display: none; /* Hides the line break for non-CSS capable browsers */
}

.metro-title {
  font-size: 30px;
}

.bus-title {
  font-size: 30px;
}

#public {
  margin-top: 5%;
  margin-left: 10%;
}

#tra-pub {
  display: block;
}

#tra-car {
  margin-top: 5%;
  display: none;
}

@media screen and (max-width: 720px) {
  .map-content {
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    /* height: 100vh; */
    padding-top: 100px;
  }

  .map-content iframe {
    width: 550px;
    height: 350px;
  }

  .navbar a {
    font-size: 16px;
  }

  .line-break br {
    display: block; /* Hides the line break for non-CSS capable browsers */
  }

  .traffic-btn {
    padding: 10px 80px;
    background-color: #ff7a00;
    border-radius: 30px;
    font-size: 16px;
    white-space: nowrap;
  }

  .metro-title {
    font-size: 25px;
  }

  .bus-title {
    font-size: 25px;
  }
}

/* 
PC: 1024px
tablet: 720px ~ 1024px
phone: 320px ~ 720px
*/
